* {
    box-sizing: border-box;
}

main {
    padding-top: 180px;
}
.container {
    margin: auto;
    width: 190px;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

.container h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}

#data {
    margin: 5px 0px;
}

#email {
    margin-bottom: 10px;
}

#form p {
    margin: 10px 0px;
}

#form a {
    margin: 5px 0px;
}

#form button {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid #AACE9B;
    background: #AACE9B;
    color: #373867;;
}

.error-red {
    border: 2px solid red;
}

.ok-green{
    border: 2px solid green;
}

#footer {
    margin-top: 260px;
}

@media (min-width: 1024px) {
    main {
        padding-top: 1px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 511px;
        height: 635px;
        margin-top: 250px;
        margin-left: 680px;
    }

    .container h2 {
        font-size: 40px;
    }

    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }
    
    .data {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    #email {
        margin-top: 10px;
        width: 260.35px;
        height: 30px;
    }

    #password {
        margin-top: 10px;
        width: 260.35px;
        height: 30px;
    }

    .data label {
        align-self: flex-start;
        margin-bottom: 4px;
    }

    #form a {
        margin: 10px 0px;
    }

    #form button {
        width: 150px;
    }

    .error-red {
        border: 3px solid red;
    }
    
    .ok-green{
        border: 3px solid green;
    }
}