<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <script src="../javascript/signup.js"></script>
    <title>Document</title>
</head>
<body>
    <header id="header">
        <img id="btn-burger" src="../assets/img/burgerbtn.svg" alt="menu">
        <img id="logo-header" src="../assets/img/logoReloj.svg" alt="logo">
        <div id="div-header"></div>
    </header>
    <main>
        <aside>
            <nav id="navbar">
                <header>
                    <h2> Menu </h2>
                </header>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="employee-signup.html">Sign-up</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
            <div>
                <section id="sec-contact">
                    <h3> Contact </h3>
                    <ul>
                        <li>
                            <img src="../assets/img/carta-mail.svg" alt="mail-icon">
                            <a href="trackgenix@gmail.com">trackgenix@gmail.com</a>
                        </li>
                        <li>
                            <img src="../assets/img/telefono.svg" alt="phone-icon">
                            <a href="(+54) 4545-9999">(+54) 4545-9999</a>
                        </li>
                        <li>
                            <img src="../assets/img/casa.svg" alt="home-icon">
                            <a href="1234 Somewhere Road #8254 Nashville">1234 Somewhere Road 
                            #8254 Nashville.</a>
                        </li>
                    </ul>
                </section>
            </div>
        </aside>
        <div class="container">
            <h2>
                SingUp
            </h2>
            <form id="form" action="">
                <div class="fila1">
                    <div class="data">
                        <label for="name">Name</label>
                        <input id="name" type="text" placeholder="Name">
                    </div>
                    <div class="data">
                        <label for="apellido">Apellido</label>
                        <input id="apellido" type="text" placeholder="Apellido">
                    </div>
                    <div class="data">
                        <label for="dni">DNI</label>
                        <input id="dni" type="text" placeholder="DNI">
                    </div>
                    <div class="data">
                        <label for="fecha-nacimiento">Fecha de Nacimiento</label>
                        <input id="fecha-nacimiento" type="date" placeholder="Fecha de Nacimiento">
                    </div>
                    <div class="data">
                        <label for="tel">Telefono</label>
                        <input id="tel" type="text" placeholder="Telefono">
                    </div>
                    <div class="data">
                        <label for="">Direccion</label>
                        <input id="direc" type="text" placeholder="Direccion">
                    </div>
                </div>
                <div class="fila2">
                    <div class="data">
                        <label for="">Localidad</label>
                        <input id="localidad" type="text" placeholder="Localidad">
                    </div>
                    <div class="data">
                        <label for="">Codigo Postal</label>
                        <input id="cp" type="text" placeholder="Codigo Postal">
                    </div>
                    <div class="data">
                        <label for="">Email</label>
                        <input id="mail" type="text" placeholder="Email">
                    </div>
                    <div class="data">
                        <label for="">Contraseña</label>
                        <input id="pass" type="password" placeholder="Contraseña">
                    </div>
                    <div class="data">
                        <label for="">Repetir Contraseña</label>
                        <input id="pass2" type="password" placeholder="Repetir Contraseña">
                    </div>
                    <div id="hidden" class="data">
                        <label for="L"></label>
                        <input id="" type="" placeholder="">
                    </div>
                </div>
            </form>
            <button id="submit-btn" type="submit">Create</button>
        </div>
        <footer id="footer">
            <div id="div-footer">
                <ul>
                    <li>
                        <a href=""><img src="../assets/img/twit.svg" alt="twitter-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/fb.svg" alt="facebook-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/linke.svg" alt="linkedin-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/insta.svg" alt="instagram-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/github.svg" alt="github-icon"></a>
                    </li>
                </ul>
            </div>
            <div id="footer-p">
                <p>Rosario, Argentina</p>
                <p>Copyright © 2022 Radium Rocket.</p> 
                <p>All rights reserved.</p>
            </div>
        </footer>  
    </main>
    
</body>
</html>