<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/navbar.css">
        <link rel="stylesheet" href="../css/sec-principal.css">
        <link rel="stylesheet" href="../css/sec-features.css">
        <link rel="stylesheet" href="../css/sec-why.css">
        <link rel="stylesheet" href="../css/sec-info.css">
        <link rel="stylesheet" href="../css/sec-history.css">
        <link rel="stylesheet" href="../css/footer.css">

        <title>Trackgenix</title>
    </head>
    <body>
        <header id="header" class="flex-container">
            <img id="btn-burger" src="../assets/img/burgerbtn.svg" alt="menu">
            <img id="logo-header" src="../assets/img/logoReloj.svg" alt="logo">
            <div id="div-header"></div>
        </header>
        <div id="container-body">
            <aside>
                <nav id="navbar">
                    <header>
                        <h2> Menu </h2>
                    </header>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="employee-signup.html">Sign-up</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </nav>
                <div>
                    <section id="sec-contact">
                        <h3> Contact </h3>
                        <ul>
                            <li>
                                <img src="../assets/img/carta-mail.svg" alt="mail-icon">
                                <a href="trackgenix@gmail.com">trackgenix@gmail.com</a>
                            </li>
                            <li>
                                <img src="../assets/img/telefono.svg" alt="phone-icon">
                                <a href="(+54) 4545-9999">(+54) 4545-9999</a>
                            </li>
                            <li>
                                <img src="../assets/img/casa.svg" alt="home-icon">
                                <a href="1234 Somewhere Road #8254 Nashville">1234 Somewhere Road 
                                #8254 Nashville.</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </aside>
            <main>
                <section id="sec-principal">
                    <header>
                        <h1>TRACKGENIX</h1>
                    </header>
                    <article class="art-principal">
                        <p id="subt">TIME CONTROL THAT SIMPLIFIES YOUR BUSINESS</p>
                        <p id="parag">The time control software to manage your employees' time in the easiest, 
                            fastest and most intuitive way.
                        </p>
                        <img src="../assets/img/imgMain.jpg" alt="main-image">
                        <button type="button"> LEARN MORE</button>
                    </article>
                </section>
                <section id="sec-features">
                    <header>
                        <h3>Features</h3>
                    </header>
                    <div  class="div-p">
                        <div class="div-features">
                            <img src="../assets/img/hours.png" alt="hours-icon">
                            <p>Hours log</p>
                        </div>
                        <div class="div-features">
                            <img src="../assets/img/reports.png" alt="reports-icon">
                            <p>Reports</p>
                        </div>
                        <div class="div-features">
                            <img src="../assets/img/searcht.png" alt="resorce-icon">
                            <p>Resource management</p>
                        </div>
                        <div class="div-features">
                            <img src="../assets/img/group.png" alt="role-icon">
                            <p>Multiple Role</p>
                        </div>
                    </div>
                </section>
                <section id="sec-why">
                    <header>
                        <h3>Why use Trackgenix?</h3>
                    </header>
                    <div id="div-why">
                        <div  class="div-container">
                            <img src="../assets/img/connectionLaptop.jpg" alt="conection-icon">
                        </div>
                        <div class="div-container">
                            <ul>
                                <li>Productivity booster</li>
                                <li>Work traceability</li>
                                <li>Leadership and team management</li>
                                <li>Decisionmaking</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section id="sec-info">
                    <header>
                        <h3>Ask for more information:</h3>
                    </header>
                    <article id="art-form">
                        <form action="">
                            <div class="form">
                                <input  type="text" placeholder="Name">
                            </div>
                            <div class="form">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="form">
                                <select name="Category">  
                                    <option value=""> Category   
                                    <option value=""> Category 1  
                                    <option value=""> Category 2
                                </select>
                            </div>
                            <div class="form">
                                <textarea name="" id="" cols="26" rows="5" placeholder="Message"></textarea>
                            </div>
                            <div id="div-btn">
                                <button id="btn-cancel" type="submit">Cancel</button>
                                <button id="btn-send"  type="submit">Send</button>
                            </div> 
                        </form>
                    </article>
                </section>
                <section id="sec-history">
                    <header>
                        <h3>Our history</h3>
                    </header>
                    <article>
                        <p>
                            Since 2012, we’ve helped countless companies across the globe build applications that
                            empower growth, leave a lasting impression, and transform their user experience.
                            GigaTech was created in 2012 by a trio of colleagues who met through a coding bootcamp. 
                            They continue to perfect the craft of app development and make a name for themselves.
                            As the team grew from three to ten, and then from ten to twenty, they explored new 
                            partnerships with major technologies to propel their growth. GigaTech currently has
                            around 70 team members and exciting growth goals ahead of them.
                        </p>
                        <img src="../assets/img/imgMainMidjpg.jpg" alt="people-talking">
                    </article>
                    <div id="div-f">
                        <div class="div-tab">
                            <p>PRODUCTS</p>
                            <ul>
                                <li>Features</li>
                                <li>Downloads</li>
                                <li>Integrations</li>
                                <li>Additionl features</li>
                            </ul>
                        </div>
                        <div class="div-tab">
                            <p>COMPANY</p>
                            <ul>
                                <li>About us</li>
                                <li>Trusted by</li>
                                <li>Resources</li>
                                <li>Clients</li>
                            </ul>
                        </div>
                        <div>
                            <p>SUPPORT</p>
                            <ul>
                                <li>Help</li>
                                <li>Tutorial</li>
                                <li>API</li>
                                <li>Contact</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </main>

        </div>
        <footer id="footer">
            <div id="div-footer">
                <ul>
                    <li>
                        <a href=""><img src="../assets/img/twit.svg" alt="twitter-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/fb.svg" alt="facebook-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/linke.svg" alt="linkedin-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/insta.svg" alt="instagram-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/github.svg" alt="github-icon"></a>
                    </li>
                </ul>
            </div>
            <div id="footer-p">
                <p>Rosario, Argentina</p>
                <p>Copyright © 2022 Radium Rocket.</p> 
                <p>All rights reserved.</p>
            </div>
        </footer>   
    </body>
</html>