<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <script src="../javascript/sign-up.js"></script>
    <title>Document</title>
</head>
<body>
    <header id="header">
        <img id="btn-burger" src="../assets/img/burgerbtn.svg" alt="menu">
        <img id="logo-header" src="../assets/img/logoReloj.svg" alt="logo">
        <div id="div-header"></div>
    </header>
    <main>
        <div class="container">
            <h2>
                SingUp
            </h2>
            <form id="form" action="">
                <div class="data">
                    <label for="name">Name</label>
                    <input id="name" type="text" placeholder="Name">
                </div>
                <div class="data">
                    <label for="apellido">Apellido</label>
                    <input id="apellido" type="text" placeholder="Apellido">
                </div>
                <div class="data">
                    <label for="dni">DNI</label>
                    <input id="dni" type="text" placeholder="DNI">
                </div>
                <div class="data">
                    <label for="fecha-nacimiento">Fecha de Nacimiento</label>
                    <input id="fecha-nacimiento" type="text" placeholder="Fecha de Nacimiento">
                </div>
                <div class="data">
                    <label for="tel">Telefono</label>
                    <input id="tel" type="text" placeholder="Telefono">
                </div>
                <div class="data">
                    <label id="direc" for="">Direccion</label>
                    <input id="direc" type="text" placeholder="Direccion">
                </div>
                <div class="data">
                    <label id="localidad" for="">Localidad</label>
                    <input id="localidad" type="text" placeholder="Localidad">
                </div>
                <div class="data">
                    <label id="cp" for="">Codigo Postal</label>
                    <input id="cp" type="text" placeholder="Codigo Postal">
                </div>
                <div class="data">
                    <label id="mail" for="">Email</label>
                    <input id="mail" type="text" placeholder="Email">
                </div>
                <div class="data">
                    <label id="pass" for="">Contraseña</label>
                    <input id="pass" type="text" placeholder="Contraseña">
                </div>
                <div class="data">
                    <label id="pass2" for="">Repetir Contraseña</label>
                    <input id="pass2" type="text" placeholder="Repetir Contraseña">
                </div>
                <button id="submit-btn" type="submit">SingUp</button>
            </form>
        </div>
        <footer id="footer">
            <div id="div-footer">
                <ul>
                    <li>
                        <a href=""><img src="../assets/img/twit.svg" alt="twitter-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/fb.svg" alt="facebook-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/linke.svg" alt="linkedin-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/insta.svg" alt="instagram-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/github.svg" alt="github-icon"></a>
                    </li>
                </ul>
            </div>
            <div id="footer-p">
                <p>Rosario, Argentina</p>
                <p>Copyright © 2022 Radium Rocket.</p> 
                <p>All rights reserved.</p>
            </div>
        </footer>  
    </main>
    
</body>
</html>