<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../javascript/login.js"></script>
    <title>Login</title>
</head>
<body>
    <header id="header">
        <img id="btn-burger" src="../assets/img/burgerbtn.svg" alt="menu">
        <img id="logo-header" src="../assets/img/logoReloj.svg" alt="logo">
        <div id="div-header"></div>
    </header>
    <main>
        <aside>
            <nav id="navbar">
                <header>
                    <h2> Menu </h2>
                </header>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="employee-signup.html">Sign-up</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
            <div>
                <section id="sec-contact">
                    <h3> Contact </h3>
                    <ul>
                        <li>
                            <img src="../assets/img/carta-mail.svg" alt="mail-icon">
                            <a href="trackgenix@gmail.com">trackgenix@gmail.com</a>
                        </li>
                        <li>
                            <img src="../assets/img/telefono.svg" alt="phone-icon">
                            <a href="(+54) 4545-9999">(+54) 4545-9999</a>
                        </li>
                        <li>
                            <img src="../assets/img/casa.svg" alt="home-icon">
                            <a href="1234 Somewhere Road #8254 Nashville">1234 Somewhere Road 
                            #8254 Nashville.</a>
                        </li>
                    </ul>
                </section>
            </div>
        </aside>
        <div class="container">
            <h2>
                LOGIN
            </h2>
            <form id="form" action="">
                <div class="data">
                    <label for="email">Email</label>
                    <input id="email" class="" type="text" placeholder="Email">
                </div>
                <div class="data">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Password">
                </div>
                <p>Don't have an account?</p>
                <a href="">SING UP</a>
                <a href="">Forgot your password</a>
                <button id="submit-btn" type="submit">LOGIN</button>
            </form>
        </div>
        <footer id="footer">
            <div id="div-footer">
                <ul>
                    <li>
                        <a href=""><img src="../assets/img/twit.svg" alt="twitter-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/fb.svg" alt="facebook-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/linke.svg" alt="linkedin-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/insta.svg" alt="instagram-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/github.svg" alt="github-icon"></a>
                    </li>
                </ul>
            </div>
            <div id="footer-p">
                <p>Rosario, Argentina</p>
                <p>Copyright © 2022 Radium Rocket.</p> 
                <p>All rights reserved.</p>
            </div>
        </footer>   
    </main>
</body>
</html>