<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Login</title>
</head>
<body>
    <header id="header">
        <img id="btn-burger" src="../assets/img/burgerbtn.svg" alt="menu">
        <img id="logo-header" src="../assets/img/logoReloj.svg" alt="logo">
        <div id="div-header"></div>
    </header>
    <main>
        <div class="container">
            <h2>
                LOGIN
            </h2>
            <form id="form" action="">
                <label for="">Email</label>
                <input type="text" placeholder="Email">
                <label for="">Password</label>
                <input type="text" placeholder="Password">
                <p>Don't have an account?</p>
                <a href="">SING UP</a>
                <p>Forgot your password</p> 
                <button type="submit">LOGIN</button>
            </form>
        </div>
        <footer id="footer">
            <div id="div-footer">
                <ul>
                    <li>
                        <a href=""><img src="../assets/img/twit.svg" alt="twitter-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/fb.svg" alt="facebook-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/linke.svg" alt="linkedin-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/insta.svg" alt="instagram-icon"></a>
                    </li>
                    <li>
                        <a href=""><img src="../assets/img/github.svg" alt="github-icon"></a>
                    </li>
                </ul>
            </div>
            <div id="footer-p">
                <p>Rosario, Argentina</p>
                <p>Copyright © 2022 Radium Rocket.</p> 
                <p>All rights reserved.</p>
            </div>
        </footer>   
    </main>
</body>
</html>