#sec-info header {
    margin-left: 1.3%;
    padding: 5%;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #373867;
}

#art-form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
    padding-left: 5%;
} 

.form {
    
    padding: 10px 12px;
    border: 1px solid #AACE9B;
    border-radius: 4px;
}

.form input ,select , textarea{
    border: 0;
}

#div-btn {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
}

#btn-cancel {
    margin-top: 2%;
    border: 1px solid #AACE9B;
    border-radius: 5px;
    padding: 10px 24px;
    background: #FFFFFF;
    color: #AACE9B;  
}

#btn-send {
    margin-top: 2%;
    margin-left: 2%;
    border: 1px solid #AACE9B;
    border-radius: 5px;
    padding: 10px 24px;
    
    background-color: #AACE9B;
    color: #FFFFFF;
}