
#sec-features header {
    margin-left: 10%;
    padding: 5%;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #373867;
}


.div-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 10%;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    
    color: #373867;
}

.div-features {
    display: flex;
    align-items: center;
    width: 45%;
}

.div-features img {
    width: 40px;
    height: 40px;
}
