#sec-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

#sec-principal header {
    
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    
    color: #373867;
}


.art-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subt {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
    color: #AACE9B;
    
}

#parag {
    order: 1;
    width: 69%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    
    color: #373867;
    
}

.art-principal img {
    width: 155px;
    height: 144px;
}

@media (min-width: 834px) {
    #sec-principal {
        padding-top: 154px;
    }
    
    #sec-principal header {
        font-size: 68px;
        line-height: 80px;
    }

    #subt {
        text-align: center;
        font-size: 21px;
        line-height: 25px;
    }

    #parag {
       margin: 14px 60px;

        font-size: 30px;
        line-height: 35px;
    }

    .art-principal img{
        width: 196px;
        height: 226px;
        margin-top: 12px;
    }



}

@media (min-width: 1512px) {
    
    #sec-principal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    #sec-principal header {
        font-size: 48px;
        line-height: 56px;
    }

    .art-principal {
        display: flex;
        flex-direction: column;  
        flex-wrap: wrap;
        align-items: flex-start;
        height: 450px;      
    }

    #subt {
        width: 50%;
        margin-top: 37px;
    }

    .art-principal button {
        order: 2;
        padding: 26px 27px;
        border: 3px solid #AACE9B;
        border-radius: 5px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-align: center;

        color: #AACE9B;
    }

    #parag {
        width: 50%;
        margin: 20px 50px;
        font-size: 24px;
        line-height: 28px;
    }


    .art-principal img {
        order: 3;
        width: 458px;
        height: 449px;
    }

}