#sec-history header {
    margin-left: 18px;
    padding: 20px;
    

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline #AACE9B !important;
    text-underline-offset: 10px;

    color: #373867;
}

.history-p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    

    padding: 0 3%;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #373867;
}

.history-p img {
    margin-top: 5%;
    align-self: center;
    width: 285px;
    height: 155px;
}
#div-f {
    display: flex;
    margin: 33px 17px ;
    justify-content: space-between;

}

#div-f p {
    margin-bottom: 3px;
    height: 20px;
    font-size: 14px;
    line-height: 1px;
    
    color: #373867;
}

.div-tab ul {
    display: flex;
    flex-direction: column;
    margin-top : 2px;
    border-right: 1px solid #373867;
}

@media (min-width: 834px) {
    #sec-history header {
        font-size: 32px;
        line-height: 38px
    }

    .history-p {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        margin: 16px 45px;
    }

    #history3 {
        display: none;
    }

    .history-p img {
        width: 318px;
        height: 142px;
    }

    #div-f {
        margin:20px 200px ; 
    }

    #div-f p {
        height: 20px;
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 1512px) {
    #sec-history header {
        margin-left: 28px;
    }

    .history-p {
        display: flex;
        flex-direction: column;  
        flex-wrap: wrap;
        align-items: center;
        height: 350px;
    }
    
    #history1 {
        width: 50%;
        
    }

    #history2 {
        width: 50%;
        margin-bottom: 5px;
    }

    .history-p img {
        margin: 0;
        width: 456px;
        height: 256px;
    }

    .div-tab {
        display: flex;
        flex-direction: column;
        height: 100px;
        
    }
    .div-tab p {
        margin-bottom: 10px;

    }

    .div-tab ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .div-tab ul li {
        
    }
}
